@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    background-image: url("img/hq2.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: rgb(180, 21, 21);
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #F0EAD7;
}

h3 {
    font-size: 46px;
    line-height: 54px;
    color: beige;
}

h4 {
    font-size: 20px;
    color: beige;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: black;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background: #F4C9A9;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: brown;
}

#navbar li a:hover,
#navbar li a.active{
    color:rgb(53, 3, 3);
}

#main_home,
#main_registration,
#main_login {
    padding: 40px 10px;
    text-align: center;
}

#main_home button{
    background-image:url("img/button.png");
    background-color: transparent;
    color: rgb(53, 3, 3);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
